.logo-img{
    width: 150px; /* Adjust the width as needed */
    height: auto;
}
.login-text{
    font-size: 2rem;
    font-weight: 600;
}
.info-text{
    color: gray;
    font-size: 0.8rem;
}
.form-check-input{
    margin-top: 0;
    width: 0.8rem;
    height: 0.8rem;
}
.form-control{
    --bs-border-radius: 1.2rem;
    background-color: transparent;
    color: #FFF;
}
.form-control::placeholder{
    color: #FFF;
}
input {
    color-scheme: dark;
  }
.custom-btn{
    width: 50%;
    background-image: linear-gradient(to right, #5170FF 40%, #FF66C4); /* Example gradient colors */
    border-radius: 2rem;
}
.question-text{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Open Sans';
}
.card{
    background-color: transparent;
    border: none;
}
.text-danger{
    font-size: 0.6rem;
    line-height:  0.8rem;
}
.btn{
    border: none;

}
.btn:hover{
    color: #A297ED;    
}