<div class="welcome-text">Bine ați venit <br> la Paradox Wiki!</div>
<div class="exploration-text">
    Explorați misterele existenței împreună cu noi. <br>Pentru a începe călătoria
    dumneavoastră, începeți prin
    selectarea unui paradox din bara laterală. Fie că este vorba despre Paradoxul Bunicului, Paradoxul Fermi sau
    alt concept care te face să te gândești, fiecare oferă o perspectivă unică asupra naturii realității.
    Scufundați-vă în necunoscut și dezlegați paradoxurile care pun la îndoială înțelegerea noastră despre
    univers.
</div>