<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4" style="width: 100%; max-width: 60%;">
        <div class="text-center">
            <img src="/assets/img/register_logo.png" alt="Logo" class="mb-4 mx-auto logo-img">
        </div>
        <h3 class="text-center default-text lilac-color login-text mb-2">Register</h3>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-group mb-4">
                <label for="email" class="info-text mb-2">*Email</label>
                <input [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                    type="email" id="email" class="form-control" formControlName="email" placeholder="Enter email">

                <div *ngIf="registerForm.get('email')?.touched || registerForm.get('email')?.dirty">
                    <div *ngIf="registerForm.get('email')?.errors?.['required']" class="text-danger mt-1">
                        <i class="fa-solid fa-circle-exclamation mr-2"></i>
                        <span>Email is required</span>
                    </div>

                    <!-- Error message for invalid email format (default validator) -->
                    <div *ngIf="registerForm.get('email')?.errors?.['email']" class="text-danger mt-1">
                        <i class="fa-solid fa-circle-exclamation mr-2"></i>
                        <span>Introduce a valid email like example&#64;gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="firstName" class="info-text mb-2">*First Name</label>
                <input
                    [class.is-invalid]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                    type="text" id="firstName" class="form-control" formControlName="firstName"
                    placeholder="Enter first name">

                <div *ngIf="registerForm.get('firstName')?.touched || registerForm.get('firstName')?.dirty">
                    <div *ngIf="registerForm.get('firstName')?.errors?.['required']" class="text-danger mt-1">
                        <i class="fa-solid fa-circle-exclamation mr-2"></i>
                        <span>First name is required</span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="password" class="info-text mb-2">*Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                    placeholder="Enter password"
                    [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">

                <div *ngIf="registerForm.get('password')?.touched || registerForm.get('password')?.dirty">
                    <div *ngIf="registerForm.get('password')?.errors?.['invalidPassword']" class="text-danger mt-1">
                        <i class="fa-solid fa-circle-exclamation mr-2"></i>
                        <span>Password must contain at least 8 characters, including uppercase, lowercase, digits, and
                            special characters.</span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="confirmPassword" class="info-text mb-2">*Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirm password"
                    [class.is-invalid]="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">

                <div *ngIf="registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty">
                    <div *ngIf="registerForm.hasError('passwordMismatch')" class="text-danger mt-1">
                        <i class="fa-solid fa-circle-exclamation mr-2"></i>
                        <span>Passwords do not match</span>
                    </div>
                </div>
            </div>
            <div class="text-center d-flex justify-content-start align-items-center pb-3">
                <a routerLink="/login" class="d-block violet-color question-text btn btn-transparent pl-0">Already have
                        an account?</a>
                <!-- <a routerLink="/password-recovery"
                        class="d-block violet-color question-text btn btn-transparent">Forgot password?</a> -->
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn-primary custom-btn"
                    [disabled]="registerForm.invalid">REGISTER</button>
            </div>

            
        </form>
    </div>
</div>