.title-text{
    font-family: 'Livvic';
    font-size: 3rem;
    font-weight: bold;
}
.description-text{

}
.title-container {
    position: relative;
}

.title-container h1 {
    flex-grow: 1;
    text-align: center;
}

.title-container i {
    position: absolute;
    right: 0;
}
.favorite{
    color: yellow;
    cursor: pointer;
}