.title-text{
    font-family: 'Livvic';
    font-size: 3rem;
    font-weight: bold;
}
.description-text{
    font-family: 'Open Sans';
}
.title-container {
    position: relative;
}

.title-container h1 {
    flex-grow: 1;
    text-align: center;
}

.title-container i {
    position: absolute;
    right: 0;
}
.favorite{
    color: yellow;
    cursor: pointer;
}
.custom-btn{
    width: 30%;
    background-image: linear-gradient(to right, #5170FF 40%, #FF66C4);
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 500;
}
.custom-btn:hover{
    color: var(--pink-color)
}
.btn{
    border-radius: 30px;
}