/* Assuming you have a class for the list item */
.list-unstyled.components li {
    /* Set display to flex to make items align horizontally */
    display: flex;
    /* Align items to the center vertically */
    align-items: center;
    /* Justify content to space-between to push the icon to the end */
    justify-content: space-between;
}

/* Adjust margin between title and icon as needed */
.list-unstyled.components li a {
    /* Set anchor tag to flex */
    display: flex;
    /* Align items to the center */
    align-items: center;
    /* Ensure text takes up most of the space */
    flex-grow: 1;
}

/* Adjust margin between title and icon as needed */
.list-unstyled.components li i {
    padding: 15px 8px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.list-unstyled.components li i:hover {
    color: yellow;
}

/* Add this CSS rule to your global stylesheet or component-specific stylesheet */
.list-unstyled.components li i.fa-star.fa-solid {
    color: yellow;
}
.dropdown-menu .dropdown-item {
    color: #fff !important;
    /* Set text color to white */
  }
.dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: transparent;
    min-width: auto;
    padding-top: 0;
    transition: opacity 0.3s ease-in-out;
    /* Add transition for opacity */
  }
  .dropdown-menu {
    color: #fff !important;
    /* Set text color to white */
  }
  .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #d9acdf !important;
    /* Adjust the color as needed */
  }


/* page  */
/* paradox-list.component.css */
.letter-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.letter-group:not(:last-child) {
  border-bottom: solid 1px gray;
}

.letter-circle {
  min-width: 70px; /* Fixed width */
  height: 70px; /* Fixed height */
  background-color: #00234e; /* Bootstrap primary color */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
  border: solid 1px #d9acdf;

}

.paradoxes {
  flex-grow: 1;
}

.paradoxes ul {
  list-style-type: none;
  padding-left: 0;
}

.paradoxes li {
  margin-bottom: 10px;
}

.paradoxes h5 {
  margin: 0;
}

.paradoxes p {
  margin: 5px 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.column{
  flex: 1;
}