/* HD resolution */
@media (min-width: 1366px) {
    app-game {
        width: 640px;
        height: 360px;
    }
}
/* Full HD resolution */
@media (min-width: 1920px) {
    app-game {
        width: 960px;
        height: 540px;
    }
}
/* 2K resolution */
@media (min-width: 2560px) {
    app-game {
        width: 1280px;
        height: 720px;
    }
}
/* 4K resolution */
@media (min-width: 3840px) {
    app-game {
        width: 1920px;
        height: 1080px;
    }
}